.container
    .row
        h4 {{blogPost.header}}
    .row
        h4 Published on {{blogPost.created_at | date}}
    .row
        div {{blogPost.text}}
    .row
        a(href="/edit-blog-post") Edit this blog post
        